<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel quibusdam optio debitis? Pariatur repudiandae a
        perspiciatis unde, quos aut quibusdam nostrum illum animi quod dignissimos? Animi quas ut reprehenderit iusto.
    </p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias eveniet dolorum doloribus, dolorem tempora neque
        ad cum, nesciunt exercitationem molestias aut velit explicabo voluptate porro sapiente deserunt maiores
        quibusdam sit?</p>

</body>

</html>